# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# others
CMakeCache.txt
CMakeFiles/*
Makefile
bin/*
cmake_install.cmake
test/CMakeFiles/*
test/Makefile
test/cmake_install.cmake
